*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


html {
    font-family: Helvetica, GillSans, Calibri, Trebuchet, sans-serif;
  }
.home {
  background-image: url("../images/showFlier.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

nav {
  background-color: #272E26;
  .radioLogo{
    height: 40px;
    width: 60px;
    margin: 15px
  }
}
.card {
  background-color: #6B1A39;
  margin-bottom: 250px;
  .card-title {
    font-size: 50px;
    font-weight: 100;
    }
    p {
      padding-top: 15px;
    }
  }
.work {
  background-color: #958D69;
  text-align: center;
  color: white;
}
.btn-flat{
  color: white !important;
  background-color: #B79D94;
}
.people{
  text-align: center;
}
.peopleInfo {
  text-align: left;
}
